html.boxed .html.boxed .body {
   border-radius: 11px;
   background-color: #eef4f2;
}

.card-loja{
   margin: 0;
}

@media (max-width: 422px) {
	html {
      height: auto;
   }
}

html.boxed .body::-webkit-scrollbar {
   width: 6px;
   min-height: 10px;
}

html.boxed .body::-webkit-scrollbar-track {
   background-color: #f4f4f4;
   height: 8px;
   background-clip: padding-box;
   border-right: 10px solid rgba(0, 0, 0, 0);
   border-top: 10px solid rgba(0, 0, 0, 0);
   border-bottom: 10px solid rgba(0, 0, 0, 0);
}

html.boxed .body::-webkit-scrollbar-thumb {
   position: absolute;
   content: "";
   background: #a2adb7;
   border-radius: 7px;
   left: 0;
   right: 0;
   opacity: 0;
   transition: opacity 0.2s linear;
}

html.boxed .body::-webkit-scrollbar-button {
   display: none;
}

.section-secondary {
   height: auto;
   min-height: 100vh;
}

